apiVersion: v1
kind: Config
preferences: {}

# Clusters will be added by various tools (minikube, k3d, kind, etc.)
clusters: []

# Users will be added by various tools
users: []

# Contexts will be added by various tools
contexts: []

# Current context will be set when switching contexts
current-context: ""