[core]
	excludesfile = /Users/shaheislam/.gitignore_global
[user]
	email = shahedulislam94@gmail.com
	name = Mohammed Islam
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILSrT8Y55Ssu+2nTVaQOiMLG6A96GlEXfAY2NuUIkDLb
[init]
	templateDir = /Users/shaheislam/.config/git
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = /Users/shaheislam/.ssh/allowed_signers
[commit]
	gpgsign = true

# Include personal config for personal projects
[includeIf "gitdir:~/dotfiles/"]
	path = ~/dotfiles/.gitconfig-personal
[includeIf "gitdir:~/src/personal/"]
	path = ~/dotfiles/.gitconfig-personal
	
# Include DFE config for work projects
[includeIf "gitdir:~/work/"]
	path = ~/dotfiles/.gitconfig-dfe
[includeIf "gitdir:~/src/dfe/"]
	path = ~/dotfiles/.gitconfig-dfe
